body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff0f5;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.memories {
    margin-top: 20px;
}

.month img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    background-color: #f54291;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d1397b;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.popup-content {
    color: pink;
}

.popup button {
    background-color: #ff66b2;
    color: white;
}

#forgiveImage {
    display: none;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}
